﻿<div class="row">
    <div class="col-md-12">
        <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
            <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
            <div class="card border-0 h-100">
                <div class="card-header brc-dark-l2">
                    <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                        <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                        Carga de Archivo
                    </h5>
                </div>
                <div class="card-body bg-white p-0 collapse show">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="file-loading">
                                <input type="file" id="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/assetsAce/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
<script src="~/assetsAce/bootstrap-fileinput/Scripts/fileinput.js"></script>
<script src="~/assetsAce/bootstrap-fileinput/themes/fas/theme.js"></script>
<script src="~/assetsAce/bootstrap-fileinput/Scripts/locales/es.js"></script>
<script @Html.CspScriptNonce()>
    $(document).ready(function () {
        $("#file").fileinput({
            language: 'es',
            theme: 'fas',
            showBrowse: false,
            allowedPreviewTypes: null,
            browseOnZoneClick: true,
            uploadAsync: false,
            overwriteInitial: false,
            previewFileExtSettings: {
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                }
            },
        });

    });

</script>


