﻿
@{
    ViewBag.Title = "UplaoadMembers";
}

@using (Html.BeginForm("UplaoadMembers", "UploadLayout", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.Partial("_UploadFile")
}
@section PageCrumb{
    <small class="page-info text-secondary-d2">
        <i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
        Carga de Agremiados
    </small>
}

