﻿
@{
	ViewBag.Title = "UploadInformationBoxes";
}

@using (Html.BeginForm("UploadInformationBoxes", "UploadLayout", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
	@Html.Hidden("OldBox", false)
	@Html.Hidden("CashBox", false)
	@Html.Hidden("NewBox", false)

	<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
		<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
		<div class="card border-0 h-100">
			<div class="card-header brc-dark-l2">
				<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
					<i class="fa fa-table mr-2px" aria-hidden="true"></i>
					Carga Informacion de Cajas: Seleccione el tipo de Archivo
				</h5>
			</div>
			<div class="card-body bg-white p-4 collapse show">
				<div class="row">
					<div class="col-md-2">
						<div>
							<label class="text-600 text-uppercase text-95 text-secondary">
								<input type="radio" id="chkOldBox" name="box" class="input-lg text-danger-m1 brc-on-checked brc-success brc-h-success-m1 border-2" />
								Caja Vieja
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<label class="text-600 text-uppercase text-95 text-secondary">
								<input type="radio" id="chkCashBox" name="box" class="input-lg text-danger-m1 brc-on-checked brc-success brc-h-success-m1 border-2" />
								Caja de Tesoreria
							</label>
						</div>
					</div>
					<div class="col-md-2">
						<div>
							<label class="text-600 text-uppercase text-95 text-secondary">
								<input type="radio" id="chkNewBox" name="box" class="input-lg text-danger-m1 brc-on-checked brc-success brc-h-success-m1 border-2" />
								Caja Nueva
							</label>
						</div>
					</div>
				</div>
				<br />
				@Html.Partial("_UploadFile")
			</div>
		</div>
	</div>
}
@section PageCrumb{
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
		Carga Informacion de Cajas
	</small>
}
<script @Html.CspScriptNonce()>
	$(document).ready(function () {
		$("input[name=box]").on("click", function () {
			$("#OldBox").val($("#chkOldBox").is(":checked"));
			$("#CashBox").val($("#chkCashBox").is(":checked"));
			$("#NewBox").val($("#chkNewBox").is(":checked"));
		});
	});
</script>

