﻿@model Seccion.Web.Models.ViewModels.EmployeeVIewModel


@{
	ViewBag.Title = "EditDataEmployee";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">
		<form id="MyForm" class="form-horizontal" method="post" action="/Employee/EditDataEmployee" role="form" novalidate="novalidate" autocomplete="off">
			@Html.AntiForgeryToken()
			<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
				<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
				<div class="card border-0 h-100" id="card-8">
					<div class="card-header  brc-dark-l2">
						<h5 class="card-title text-110 text-dark font-bold pt-1">
							<i class="fa fa-table mr-2px" aria-hidden="true"></i>
							Edición de Agremiado Sindical
						</h5>
					</div><!-- /.card-header -->

					<div class="card-body bg-white p-0 collapse show">
						<br />

						<div class="p-3">
							@Html.HiddenFor(model => model.TbEmployeeId)
							@Html.HiddenFor(model => model.UserInsert)
							@Html.HiddenFor(model => model.DateInsert)
							@Html.HiddenFor(model => model.City)
							@Html.HiddenFor(model => model.State)
							<div class="row">
								<div class="col-md-6">
									<label class="p-2 ml-n2 radius-1 font-bolder">
										@Html.CheckBoxFor(model => model.ActiveEmployee, htmlAttributes: new { @class = "bgc-danger brc-h-danger-m1", value = "true" })
										Empleado Activo
									</label>

								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.NumberFicha, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.NumberFicha, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control border-l-4" }, required = "required" })

									</div>
									<div class="form-group">
										@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control border-l-4" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.ContractualSituation, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("ContractualSituation", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Perfil" })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.WorkLocation, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("WorkLocation", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Perfil" })

									</div>
								</div>
								<div class="col-md-4">
									@if (Model.WorkLocation == "TIERRA")
									{
									<div id="rol" style="display:none" class="form-group">
										@Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("Rol", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "-Seleccionar-" })


									</div>
									}
									else
									{
								<div id="rol" class="form-group">
									@Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label font-bolder" })
									@Html.DropDownList("Rol", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "-Seleccionar-" })


								</div>
									}

									<div class="form-group">
										@Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("Region", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Perfil" })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.DepartmentKey, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.DepartmentKey, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("Level", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Perfil" })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.AsisteKey, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.AsisteKey, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control border-l-4" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.DropDownList("TbStatesId", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Estado" })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label font-bolder" })<span class="font-bolder text-danger text-75">  *Primero debe selecionar un Estado.</span>
										@Html.DropDownList("TbMunicipalitiesId", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Estado" })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.PhoneHouse, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.PhoneHouse, new { htmlAttributes = new { @class = "form-control input-mask-phone border-l-4" } })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.CelularPhone, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.CelularPhone, new { htmlAttributes = new { @class = "form-control input-mask-phone border-l-4", required = "required" } })

									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control border-l-4" }, required = "required" })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control border-l-4" }, required = "required" })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.BranchOffice, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.BranchOffice, new { htmlAttributes = new { @class = "form-control border-l-4" }, required = "required" })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>

									<div class="form-group">
										@Html.LabelFor(model => model.ClaveInterbancaria, htmlAttributes: new { @class = "control-label font-bolder" })

										@Html.EditorFor(model => model.ClaveInterbancaria, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control border-l-4", maxlength = "400" } })
									</div>
								</div>
							</div>
						</div>
						<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
							<a href="@Url.Action("ListEmployee","Employee")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
								</span>
								regresar
							</a>
							<button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
								</span>
								guardar
							</button>
						</div>

					</div><!-- /.card-body -->
				</div>
				<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
			</div>
		</form>
	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		<a href="@Url.Action("ListEmployee","Employee")">Relación de Agremiados Sindicales</a>
	</small>
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		Editar Agremiado Sindical
	</small>
}
@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/tiny-date-picker/tiny-date-picker.css" rel="stylesheet" />

}

@section scripts {
	<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/tiny-date-picker/date-range-picker.js"></script>

	<script @Html.CspScriptNonce()>
		$(function () {

			//Oculta el TextEditor ROL
			$("#div-rol").hide();

			//aplicamos el pluging a los select´s
			$(".chosen").chosen({
			});

			//aplicamos el pluging TinyDatePicker
			var TinyDatePicker = DateRangePicker.TinyDatePicker;
			var dp = TinyDatePicker('#BirthDate', {
				mode: 'dp-below',
				format(date) {
					return toJSONLocal(date);
				}
			}).on('statechange', function (ev) {

			});
			ValidatorForm("createEmployee", "Este campo es requerido", "Éxito");
		});

		var $dropDown = $("#WorkLocation");
		var $divRol = $("#div-rol");
		//Evento de la ubicacion laboral para hbilitar o deshabilitar el rol
		$dropDown.change(function () {
			if ($(this).val() == "MAR") {
				$divRol.show();
			}
			else {
				$divRol.hide();
			}
		})

		//Evento del select Estados para obtener los municipios
		$('#TbStatesId').change(function (evt) {
			$.ajax({
				"async": true,
				"url": "/Employee/GetMuniciplaities/" + parseInt($(this).val()), //paso el parametro para la consulta
				"cache": false,
				"method": "GET",
				//"contentType": 'application/json; charset=utf-8',
			}).done(function (data) {
				$('#TbMunicipalitiesId').empty(); //remove all child nodes
				var district = "<select >";
				district = district + '<option value=""></option>';
				for (var i = 0; i < data.length; i++) {
					district = district + '<option value=' + data[i].TbMunicipalitiesId + '>' + data[i].NameMunicipalities + '</option>';
				}
				district = district + '</select>';
				$('#TbMunicipalitiesId').html(district).chosen();
				$('#TbMunicipalitiesId').trigger("chosen:updated"); //Actuliza el chosen

			}).fail(function (jqXHR, textStatus, err) {
				//MessageError(jqXHR, textStatus, err, Title, "LnkMessage");
			});
			$('#State').val($('#TbStatesId option:selected').text());
			$(evt.target).valid();
		});
		//para quitar el mensaje de validación al seleccionar un valor
		$('#TbMunicipalitiesId').change(function (evt) {
			$('#City').val($('#TbMunicipalitiesId option:selected').text());
			$(evt.target).valid();
		});
		$("#Level").change(function (evt, params) {
			$(evt.target).valid();
		});

	</script>
}

