﻿@model IEnumerable<Seccion.Web.Models.GridListModel.ListEmployeeViewModel>

@{
	ViewBag.Title = "ListEmployee";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">

		<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
			<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
			<div class="card border-0 h-100" id="card-8">
				<div class="card-header  brc-dark-l2">
					<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
						<i class="fa fa-table mr-2px" aria-hidden="true"></i>
						Relación de Agremiados Sindicales Registrados
					</h5>
					<div class="card-toolbar">
						<a class="btn btn-wide btn-warning btn-h-outline-warning btn-a-outline-warning border-2 mb-1" href="@Url.Action("CreateEmployee", "Employee")">
							<i class="fa fa-user-plus text-110 mr-2" aria-hidden="true"></i>
							Nuevo
						</a>
					</div>
				</div>

				<div class="card-body bg-white p-0 collapse show">
					<br />

					<div class="p-3">
						<table id="listEmployee" class="table table-striped dt-responsive nowrap" aria-hidden="true" style="width:100%">
							<thead>
								<tr class="bgc-dark text-white">
									<th scope="col">Ficha</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido P.</th>
									<th scope="col">Apellido M.</th>
									<th scope="col">S.C.</th>
									<th scope="col">U. L.</th>
									<th scope="col">Rol</th>
									<th scope="col">Region</th>
									<th scope="col">Nivel</th>
									<th scope="col">Opciones</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">

					</div>

				</div><!-- /.card-body -->
			</div>
			<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
		</div>

	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
		Relación de Agremiados Sindicales
	</small>
}
@section styles{

	@Styles.Render("~/bundles/employeeCss")
}

@section scripts {

	@Scripts.Render("~/bundles/employeeJs")
	<script type="text/javascript">
		$(function () {
			ComplementDataTable();
			LoadDataEmployee();
		});

	function ActivarUser(Id, urlAction) {
		var approv = { "id": Id };
		//var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
		Swal.fire({
			title: 'Dar de baja a este Agremiado, ¿Estas Seguro?',
			text: " ",
			icon: 'question',
			showCancelButton: true,
			confirmButtonColor: '#b90404',
			cancelButtonColor: '#212121',
			confirmButtonText: 'SI',
			cancelButtonText: 'NO'
		}).then((result) => {
			if (result.value) {
				$.ajax({
					url: urlAction,
					type: 'POST',
					//headers: headers,
					data: JSON.stringify(approv),
					contentType: "application/json; charset:utf-8",
					dataType: 'json'
				}).done(function (data) {
					if (data.Severity === 2) {
						Swal.fire(
							data.Title,
							data.TextMessage,
							'success'
						).then(function (isConfirm)  {

							if (isConfirm) {
								LoadDataEmployee();
                            }

						});


					}
					else {
						swal.fire(data.Title, "Ocurrio un error en eproceso =>" + data.TextMessage, 'error');
					}

				}).fail(function (data) {
					Swal.fire('Error', data.status + ':' + ' ' + data.statusText, 'error');
				});

			}
		})
	}
	function LoadDataEmployee() {
			$('#listEmployee').DataTable({
				serverSide: true,
				processing: true,
				filter: true,
				paging: true,
				destroy: true,
				dom: '<"row"<"col-sm-6"f><"col-sm-6"l>>' +
					'<"row"<"col-sm-12"<"table-responsive"tr>>>' +
					'<"row"<"col-sm-5"i><"col-sm-7"p>>',
				language: idioma,
				order: [1, 'asc'],
				responsive: {
					details: {
						renderer: function (api, rowIdx, columns) {
							var data = $.map(columns, function (col, i) {
								return col.hidden ?
									'<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
									'<td>' + col.title + ':' + '</td> ' +
									'<td>' + col.data + '</td>' +
									'</tr>' : '';
							}).join('');

							return data ? $('<table/>').append(data) : false;
						}
					}
				},
				ajax: {
					url: "@Url.Action("GetListEmployee", "Employee")",
					type: "POST",
					datatype: "json"
				},
				columnDefs: [
					//{
					//	className: 'control',
					//	orderable: false,
					//	targets: 0
					//},
					//{
					//	targets: [11],
					//	orderable: false
					//}
				],
				columns: [
					{ "data": "NumberFicha", searchable: true },
					{ "data": "Name", searchable: true },
					{ "data": "FirstName", searchable: true },
					{ "data": "LastName", searchable: true },
					{ "data": "ContractualSituation", orderable: false },
					{ "data": "WorkLocation", orderable: false },
					{ "data": "Rol" },
					{ "data": "Region" },
					{ "data": "Level" },
					{
						data: null,
						orderable: false,
						className:'text-center',
						render: function (data, type, full) {
							var menu = "";

                            menu = "<div id='testMenu" + data.TbEmployeeId + "' class='btn-group'></div>";

							var sendData = DataMenu(data.TbEmployeeId, "@Url.Action("EditDataEmployee", "Employee")", "@Url.Action("DetailEmployee", "Employee")", "@Url.Action("CompleteDataEmployee", "Employee")", "/Employee/InactiveEmployee");
							$.post("/Common/DataTableMenu",
								sendData,
								function (response) {
									$("#testMenu" + data.TbEmployeeId).html(response);
								});
							return menu;
						}
					}
				]

			});
			//aplicamos el pluging al select
			$('.dataTables_length select').chosen({
				disable_search_threshold: 10,
				width: '80%'
			});
	}
	</script>
}







