﻿
.btn-h-outline-warning:hover {
	color: #000000 !important;
	border-color: #efae43 !important;
	background-color: transparent !important;
}
.btn-warning {
	color: #101010 !important;
	background-color: #FFC107 !important;
}

.btn-outline-warning {
	color: #ffc107 !important;
}

.btn-outline-danger {
	color: #d32f2f !important;
}
.form-text-validation {
	display: block;
	margin-top: .25rem;
	font-size: 0.88em !important;
}

.page-header {
	margin: 0 0 2rem !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	border-bottom: 2px dotted #e2e2e2 !important;
}
.page-title .page-info{
	margin: 0 !important;
}
.page-title {
	font-size: 1.5rem !important;
}
.custom-bgc-danger-tp1 {
	background-color: rgb(191, 8, 8) !important;
}
.custom_background {
	background: rgba(255, 255, 255, 0.5);
	justify-content: center !important;
}

.custom_textLoading {
	font-size: 1.2em !important;
	font-weight: 700;
}
.table-striped-custom tbody tr:nth-of-type(2n+1) {
	background-color: #f7f7f7 !important;
}

/*Fomr ChangePassword*/
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bad {
	background: url(../../assetsAce/image/ui/Delete_16x16.png) no-repeat 0 50%;
	padding-left: 22px;
	line-height: 24px;
	color: #ec3f41;
}

.good {
	background: url(../../assetsAce/image/ui/Check_16x16.png) no-repeat 0 50%;
	padding-left: 22px;
	line-height: 24px;
	color: #3a7d34;
}

.fade:not(.show) {
	opacity: 1 !important;
}

[ui-pnotify].ui-pnotify.stack-bar-top {
	width: 75%;
}