﻿@model Seccion.Web.Models.ViewModels.ChangePasswordViewModel


@{
	ViewBag.Title = "ChangePassword";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}



<div class="row">
	<div class="col-12">
		<form id="changePassword" class="" action="/AccountUser/ChangePassword" data-ajax="true" data-ajax-method="Post" data-ajax-success="CreateAssetSuccess" role="form" method="post" autocomplete="off" novalidate="">
			@*@using (Html.BeginForm("ChangePassword", "AccountUser", FormMethod.Post, new { id = "changePassword", role = "form", autocomplete = "off" }))
				{*@
			@Html.AntiForgeryToken()
			<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
				<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
				<div class="card border-0 h-100" id="card-8">
					<div class="card-header  brc-dark-l2">
						<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
							<i class="fa fa-table mr-2px" aria-hidden="true"></i>
							Cambiar Contraseña
						</h5>
					</div><!-- /.card-header -->

					<div class="card-body bg-white p-0 collapse show">
						<br />

						<div class="p-3">
							@Html.ValidationSummary("", new { @class = "text-danger" })
							<div class="col-12 col-md-10 offset-md-1 mt-3">
								<div class="form-group row mx-0">
									@Html.LabelFor(m => m.OldPassword, new { @class = "font-bolder col-sm-3 col-form-label text-sm-right" })
									<div class="col-sm-6">
										@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>

								<hr class="border-dotted">

								<div class="form-group row mx-0">
									@Html.LabelFor(m => m.NewPassword, new { @class = "font-bolder col-sm-3 col-form-label text-sm-right" })
									<div class="col-sm-6">
										<input type="password" class="form-control border-l-4" name="NewPassword" id="NewPassword" min="8" required aria-describedby="popover372883">
										<div class="popover fade bs-popover-bottom" role="tooltip" id="popover372883" data-placement="bottom" style="top: 100%; will-change: transform; display: none;">
											<div class="arrow" style="left: 50%;"></div>
											<h3 class="popover-header">La contraseña debe tener los siguientes Requisitos:</h3>
											<div class="popover-body">
												<div id="">
													<ul>
														<li id="length" class="bad">Debe tener minimo <strong>8 Caracteres</strong></li>
														<li id="capital" class="bad">Al menos <strong>una Letra Mayuscula</strong></li>
														<li id="letter" class="bad">Al menos <strong>una Letra Minuscula</strong></li>
														<li id="number" class="bad">Al menos <strong>um Número</strong></li>
														<li id="charter" class="bad">Al menos <strong>un Carácter especial !,%,&,@("@"),#,$,*,?,_,-,~</strong></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group row mx-0">
									@Html.LabelFor(m => m.ConfirmPassword, new { @class = "font-bolder col-sm-3 col-form-label text-sm-right" })
									<div class="col-sm-6">
										@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>


							</div>
						</div>



						<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
							<a href="@Url.Action("Index","Home")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
								</span>
								regresar
							</a>
							<button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
								</span>
								guardar
							</button>
						</div>

					</div><!-- /.card-body -->
				</div>
				<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
			</div>
			@*</form>*@
			@*}*@
		</form>
	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
		Cambiar Contraseña
	</small>
}

@*<style type="text/css">


</style>*@

@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
	@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />*@
	<link href="~/assetsAce/node_modules/js/plugins/notify/animate.min.css" rel="stylesheet" />
}
@section scripts {

	<script src="~/assetsAce/node_modules/js/plugins/sweetalert/sweetalert2.min.js"></script>

	<script @Html.CspScriptNonce()>
		$(function () {


			//NotifierMessage(messageSeverity.Info, "Éxito!!", "Hola Rudolf!! ya es hora de dormir");
			$('#NewPassword').keyup(function () {
				var pswd = $(this).val();
				if (pswd.length < 8) {
					$('#length').removeClass('good').addClass('bad');
				} else {
					$('#length').removeClass('bad').addClass('good');
				}
				if (pswd.match(/[a-z]/)) {
					$('#letter').removeClass('bad').addClass('good');
				} else {
					$('#letter').removeClass('good').addClass('bad');
				}
				if (pswd.match(/[A-Z]/)) {
					$('#capital').removeClass('bad').addClass('good');
				} else {
					$('#capital').removeClass('good').addClass('bad');
				}
				if (pswd.match(/\d/)) {
					$('#number').removeClass('bad').addClass('good');
				} else {
					$('#number').removeClass('good').addClass('bad');
				}
				if (pswd.match(/([!,%,&,@@,#,$,*,?,_,\-,~])/)) {
					$('#charter').removeClass('bad').addClass('good');
				} else {
					$('#charter').removeClass('good').addClass('bad');
				}
			}).focus(function () {
				$('#popover372883').show();
			}).blur(function () {
				$('#popover372883').hide();
			});

			ValidatorForm("changePassword", "Este campo es requerido", "Éxito");
		});

		function CreateAssetSuccess(response) {

			if (response.success) {

				Swal.fire({
					title: 'Éxito !! Tú contraseña se cambio correctamente.',
					text: "Por favor iniciar sesión nuevamente",
					icon: 'success',

					confirmButtonColor: '#c3092e',
					confirmButtonText: 'Aceptar',
					allowOutsideClick: false

				}).then((result) => {
					if (result.value) {

						$.ajax({
							url: '@Url.Action("LogOff", "AccountUser")',
							type: 'POST',
							//data: JSON.stringify(datos),
							contentType: "application/json; charset:utf-8",
							dataType: 'json'
						})
							.done(function (data) {
								window.location.href = data;
							})
							.fail(function (data) {
								swal('Error', 'Error');
							});
					}
				}).catch(function (error) {
					Swal.fire(
						'Error!',
						'Ocurrio un error al procesar la solicitud ' + error,
						'error'
					)
				});
			} else {
			//if (response.success """ false) {
				var errorList = response.message.Errors;
				var messageText = "";
				if (errorList.length > 1) {
					for (var i = 0; i < errorList; i++) {
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';

					}

				} else {
					if (errorList[0] === "Incorrect password.") {
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'La contraseña Actual es Incorrecta, por favor verificar nuevamente.' + '<noscript></noscript></div>';
					}
				}

				NotifierMessage(messageSeverity.Warning, "Advertencia!!", messageText);
				return;
			}
		}

	</script>
}

