﻿@using NWebsec.Mvc.HttpHeaders.Csp
@model IEnumerable<Seccion.Web.Models.ViewModels.ListAccountUsersViewModel>

@{
    ViewBag.Title = "ListAccountUsers";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
            <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
            <div class="card border-0 h-100" id="card-8">
                <div class="card-header  brc-dark-l2">
                    <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                        <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                        Relación de Usuarios Activos que administran el Sistema
                    </h5>
                    <div class="card-toolbar">
                        <a class="btn btn-wide btn-warning btn-h-outline-warning btn-a-outline-warning border-2 mb-1" href="@Url.Action("RegisterUser", "AccountUser")">
                            <i class="fa fa-user-plus text-110 mr-2" aria-hidden="true"></i>
                            Nuevo
                        </a>
                    </div>
                </div><!-- /.card-header -->

                <div class="card-body bg-white p-0 collapse show">
                    <br />

                    <div class="p-3">
                        <table id="ListUser" class="table table-striped dt-responsive nowrap" aria-hidden="true" style="width:100%">
                            <thead>
                                <tr class="bgc-dark text-white">
                                    <th scope="col"></th>
                                    <th scope="col">
                                        Nombre
                                    </th>
                                    <th scope="col">
                                        Apellido Pa.
                                    </th>
                                    <th scope="col">
                                        Apellido Ma.
                                    </th>
                                    <th scope="col">
                                        E-Mail
                                    </th>
                                    <th scope="col">
                                        Fecha de Nacimiento
                                    </th>
                                    <th scope="col">
                                        # Telefónico
                                    </th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BirthDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <div class="dropdown d-inline-block dd-backdrop dd-backdrop-none-md">
                                                        <a class="card-toolbar-btn text-dark" href="#" role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-list" aria-hidden="true"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-caret dd-slide-center dd-slide-none-md dropdown-animated animated-2  brc-danger-tp2 border-t-3" aria-labelledby="dropdownMenuLink4">
                                                            <div class="dropdown-inner">
                                                                @if (User.Identity.Roles().Contains("1") || User.Identity.Roles().Contains("3"))
                                                                {
                                                                    <a class="dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase"
                                                                       href="@Url.Action("EditRegisterUser","AccountUser")/@item.Id">
                                                                        <i class="fas fa-user-edit text-dark text-140 w-3 mr-2px" aria-hidden="true"></i>
                                                                        Editar Usuario...
                                                                    </a>
                                                                }

                                                                <div class="dropdown-divider m-1"></div>
                                                                <a class="dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase"
                                                                   href="@Url.Action("UserDetail","AccountUser")/@item.Id">
                                                                    <i class="fas fa-search text-dark text-140 w-3 mr-2px" aria-hidden="true"></i>
                                                                    Ver Detalle...
                                                                </a>
                                                                <div class="dropdown-divider m-1"></div>

                                                                @if (User.Identity.Roles().Contains("1") || User.Identity.Roles().Contains("3"))
                                                                {
                                                                    <a href='@("javascript:InactiveUser('" + item.Id + "', '" + Url.Action("InactiveUser", "AccountUser") + "');")' class="dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase">
                                                                        <i class="fas fa-trash text-dark text-140 w-3 mr-2px" aria-hidden="true"></i>
                                                                        Eliminar
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                    //}
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <br />
                </div><!-- /.card-body -->
            </div>
            <div class="border-b-3 w-100 brc-dark radius-b-1"></div>
        </div>

    </div>
</div>
@section PageCrumb{

    <small class="page-info text-secondary-d2">
        <i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
        Relación de Usuarios
    </small>
}
@section styles{

    @Styles.Render("~/bundles/employeeCss")
}

@section scripts {

    @Scripts.Render("~/bundles/employeeJs")
    <script type="text/javascript">
        $(function () {
            //ComplementDataTable();
            $('#ListUser').DataTable({
                dom: '<"row"<"col-sm-6"f><"col-sm-6"l>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-5"i><"col-sm-7"p>>',
                language: idioma,
                responsive: {
                    details: {
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                return col.hidden ?
                                    '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                    '<td>' + col.title + ':' + '</td> ' +
                                    '<td>' + col.data + '</td>' +
                                    '</tr>' :
                                    '';
                            }).join('');

                            return data ?
                                $('<table/>').append(data) :
                                false;
                        }
                    }
                },
                columnDefs: [
                    {
                        className: 'control',
                        orderable: false,
                        targets: 0
                    },
                    {
                        targets: [4, 6, 7],
                        orderable: false
                    }
                ],
                order: [1, 'asc']
            });
            //aplicamos el pluging al select
            $('.dataTables_length select').chosen({
                disable_search_threshold: 10,
                width: '80%'
            });
        });

        function InactiveUser(Id, urlAction) {
            var approv = { "id": Id };
            //var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            Swal.fire({
                title: 'Dar de baja a este Usuario, ¿Estas Seguro?',
                text: " ",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#b90404',
                cancelButtonColor: '#212121',
                confirmButtonText: 'SI',
                cancelButtonText: 'NO'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        //headers: headers,
                        data: JSON.stringify(approv),
                        contentType: "application/json; charset:utf-8",
                        dataType: 'json'
                    }).done(function (data) {
                        if (data.Severity === 2) {
                            Swal.fire(
                                data.Title,
                                data.TextMessage,
                                'success'
                            ).then(function (isConfirm) {

                                if (isConfirm) {
                                    window.location = "/AccountUser/ListAccountUsers"
                                }

                            });


                        }
                        else {
                            swal.fire(data.Title, "Ocurrio un error en eproceso =>" + data.TextMessage, 'error');
                        }

                    }).fail(function (data) {
                        Swal.fire('Error', data.status + ':' + ' ' + data.statusText, 'error');
                    });

                }
            })
        }

    </script>
}