﻿@model Seccion.Web.Models.ViewModels.AccountUserViewModel
@{
	ViewBag.Title = "RegisterUser";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">
		@*<form id="formRegisterUser" class="form-horizontal" method="post" action="/AccountUser/RegisterUser" role="form" novalidate="novalidate" autocomplete="off">*@
		@using (Html.BeginForm("RegisterUser", "AccountUser", FormMethod.Post, new { id = "formRegisterUser", role = "form", autocomplete = "off" }))
		{
			@Html.AntiForgeryToken()
			<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
				<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
				<div class="card border-0 h-100" id="card-8">
					<div class="card-header  brc-dark-l2">
						<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
							<i class="fa fa-table mr-2px" aria-hidden="true"></i>
							Registro de usuario que administra el Sistema
						</h5>
					</div><!-- /.card-header -->

					<div class="card-body bg-white p-0 collapse show">
						<br />

						<div class="p-3">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.Name, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.Name, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.FirstName, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.LastName, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.LastName, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.Email, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.Email, new { @class = "form-control border-l-4", required = "required" })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.PhoneNumber, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control border-l-4" })
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.BirthDate, new { @class = "font-bolder" })
										@Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control border-l-4", @readonly = "readonly" })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.Gender, new { @class = "font-bolder" })
										@Html.DropDownList("Gender", null, "", new { @class = "form-control chosen", @data_placeholder = "Seleccionar" })
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(m => m.Role, new { @class = "font-bolder" })

										@Html.DropDownList("Role", null, "", htmlAttributes: new { @class = "form-control chosen", required = "required", @data_placeholder = "Seleccione un Perfil" })
									</div>
								</div>
							</div>

						</div>



						<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
							<a href="@Url.Action("ListAccountUsers","AccountUser")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
								</span>
								regresar
							</a>
							<button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
								</span>
								guardar
							</button>
						</div>

					</div><!-- /.card-body -->
				</div>
				<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
			</div>
			@*</form>*@
		}
	</div>
</div>
@section PageCrumb{
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		<a href="@Url.Action("ListAccountUsers","AccountUser")">Relación de Agremiados Sindicales</a>
	</small>
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		Registro de Usuarios
	</small>
}

@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/tiny-date-picker/tiny-date-picker.css" rel="stylesheet" />

}

@section scripts {

	<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/tiny-date-picker/date-range-picker.js"></script>
	@*<script src="~/assetsAce/node_modules/js/plugins/moment/moment.js"></script>*@

	<script @Html.CspScriptNonce()>
		$(function () {
			//aplicamos el pluging a los select´s
			$(".chosen").chosen({
			});

			//aplicamos el pluging TinyDatePicker
			var TinyDatePicker = DateRangePicker.TinyDatePicker;
			var dp = TinyDatePicker('#BirthDate', {
				mode: 'dp-below',
				format(date) {
					return toJSONLocal(date);
				}
			}).on('statechange', function (ev) {
			});

			ValidatorForm("formRegisterUser", "Este campo es requerido", "Éxito");
		});

		$("#Role").change(function (evt, params) {
			$(evt.target).valid();
		});

	</script>
}