﻿@{
    ViewBag.Title = "Home Page";
}

	<div class="row px-2">
		<div class="col-12 col-sm-6 col-md-3 px-2 mb-1 mb-md-0">
			<div class="pos-rel d-flex flex-column text-center bgc-white px-2 py-3 radius-1 shadow-sm h-100">
				<div class="mb-1">
					<span class="d-inline-block bgc-success-l2 p-3 radius-round">
						<i class="fa fa-users text-success-m1 text-180 w-4" aria-hidden="true"></i>
					</span>
				</div>

				<div class="mt-2px">
					<div class="text-dark-tp4 text-180">132</div>
					<div class="text-dark-tp5 text-110">Agremiados Registrados</div>
				</div>

				<div class="text-blue-m2 font-bolder position-tr m-2">
					8%
					<i class="fas fa-caret-up text-120" aria-hidden="true"></i>
				</div>
			</div>
		</div>


		<div class="col-12 col-sm-6 col-md-3 px-2 mb-1 mb-md-0">
			<div class="pos-rel d-flex flex-column text-center bgc-white px-2 py-3 radius-1 shadow-sm h-100">
				<div class="mb-1">
					<span class="d-inline-block bgc-danger-l3 p-3 radius-round">
						<i class="fa fa-shopping-cart text-danger-m2 text-170 w-4" aria-hidden="true"></i>
					</span>
				</div>

				<div class="mt-2px">
					<div class="text-dark-tp4 text-180">46</div>
					<div class="text-dark-tp5 text-110">Nuevas Solicitudes</div>
				</div>

				<div class="text-orange-d1 pr-1 font-bolder position-tr m-2">
					1%
					<i class="fa fa-caret-up" aria-hidden="true"></i>
				</div>
			</div>
		</div>


		<div class="col-12 col-sm-6 col-md-3 px-2 mb-1 mb-md-0">
			<div class="pos-rel d-flex flex-column text-center bgc-white px-2 py-3 radius-1 shadow-sm h-100">
				<div class="mb-1">
					<span class="d-inline-block bgc-pink-l3 p-3 radius-round">
						<i class="fa fa-shopping-cart text-pink-m2 text-170 w-4" aria-hidden="true"></i>
					</span>
				</div>

				<div class="mt-2px">
					<div class="text-dark-tp4 text-180">46</div>
					<div class="text-dark-tp5 text-110">new orders</div>
				</div>

				<div class="text-orange-d1 pr-1 font-bolder position-tr m-2">
					1%
					<i class="fa fa-caret-up" aria-hidden="true"></i>
				</div>
			</div>

		</div>


		<div class="col-12 col-sm-6 col-md-3 px-2 mb-1 mb-md-0">
			<div class="pos-rel d-flex flex-column text-center bgc-white px-2 py-3 radius-1 shadow-sm h-100">
				<div class="mb-1">
					<span class="d-inline-block bgc-pink-l3 p-3 radius-round">
						<i class="fa fa-shopping-cart text-pink-m2 text-170 w-4" aria-hidden="true"></i>
					</span>
				</div>

				<div class="mt-2px">
					<div class="text-dark-tp4 text-180">46</div>
					<div class="text-dark-tp5 text-110">new orders</div>
				</div>

				<div class="text-orange-d1 pr-1 font-bolder position-tr m-2">
					1%
					<i class="fa fa-caret-up" aria-hidden="true"></i>
				</div>
			</div>

		</div>
	</div>
	<div class="my-3"></div>