﻿@model Seccion.Model.Models.TbBoxes
<div class="row">
    <div class="col-12">
        <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
            <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
            <div class="card border-0 h-100" id="card-8">
                <div class="card-header  brc-dark-l2">
                    <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                        <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                        Datos Registrados
                    </h5>
                </div>
                <div class="card-body bg-white p-0 collapse show">
                    <br />
                    <div class="p-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="">
                                            <table class="table table table-striped-custom table-borderless" aria-hidden="true">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Ficha</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-credit-card" aria-hidden="true"></i> @Model.TbEmployee.NumberFicha</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Nombre</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-id-card" aria-hidden="true"></i> @($"{Model.TbEmployee.Name} {Model.TbEmployee.FirstName} {Model.TbEmployee.LastName}" )</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Folio 547</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-barcode" aria-hidden="true"></i> @Model.Folio547</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Folio NP</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-barcode" aria-hidden="true"></i> @Model.FolioNP</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Cantidad</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.Quantity) </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Fecha</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-calendar" aria-hidden="true"></i>  @Model.Date.ToString("dd-MM-yyyy")</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Periodo</td>
                                                        <td class="text-secondary-d2"> @Model.Period</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Tasa</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-percentage" aria-hidden="true"></i>  @Model.Rate</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Gastos de Admin.</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.GA)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Meses</td>
                                                        <td class="text-secondary-d2"> @Model.Month</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Catorcena</td>
                                                        <td class="text-secondary-d2"> @Model.Fourteen</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="">
                                            <table class="table table table-striped-custom table-borderless" aria-hidden="true">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Meses Adicionales</td>
                                                        <td class="text-secondary-d2"> @Model.AdditionalMonths</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Cantidad Total</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.TotalQuantity)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Descuento</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.Discount)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Nuevo Descuento</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.NewDiscount)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Saldo 11-20</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.Balance)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Saldo Actual 11-20</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.CurrentBalance)</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Catorcenas Restantes</td>
                                                        <td class="text-secondary-d2"> @Model.FourteenRemaining</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Liquida en 2 CAT</td>
                                                        <td class="text-secondary-d2"> @(Model.LiquidTwoCAT ? "SI":"NO")</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Tipo de Prestamo</td>
                                                        <td class="text-secondary-d2"> @Model.TypeLoan</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-95 font-bolder text-default-d3">Seguro de Credito</td>
                                                        <td class="text-secondary-d2"><i class="fa fa-dollar-sign" aria-hidden="true"></i> @string.Format("{0:#,##0.00}", Model.CreditInsurance)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-b-3 w-100 brc-dark radius-b-1"></div>
        </div>
    </div>
</div>
