﻿@model Seccion.Web.Models.ViewModels.BoxesViewModel
@{
	ViewBag.Title = "EditDataBox";
}
<div class="row">
	<div class="col-12">
		<form id="frmEditBox" class="form-horizontal" method="post" action="/Request/EditDataBox" role="form" novalidate="novalidate" autocomplete="off">
			@Html.AntiForgeryToken()
			<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
				<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
				<div class="card border-0 h-100" id="card-8">
					<div class="card-header  brc-dark-l2">
						<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
							<i class="fa fa-table mr-2px" aria-hidden="true"></i>
							Edición de Agremiado Sindical
						</h5>
					</div>
					<div class="card-body bg-white p-0 collapse show">
						<br />
						<div class="p-3">
							@Html.HiddenFor(model => model.TbBoxesId)
							@Html.HiddenFor(model => model.TbEmployeeId)
							@Html.HiddenFor(model => model.TypeInformation)
							@Html.HiddenFor(model => model.RootActionName)
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.NumberFicha, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.NumberFicha, new { htmlAttributes = new { @class = "form-control border-l-4", @readonly = "readonly" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control border-l-4", @readonly = "readonly" } })

									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Folio547, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Folio547, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.FolioNP, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.FolioNP, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label font-bolder" })
										<input class="form-control text-left" id="Quantity" name="Quantity" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.Quantity">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Period, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.GA, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.GA, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Fourteen, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.Fourteen, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.AdditionalMonths, htmlAttributes: new { @class = "control-label font-bolder" })
										@if (Model.TypeInformation == 1)
										{
											@Html.EditorFor(model => model.AdditionalMonths, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
										}
										else
										{
											@Html.EditorFor(model => model.AdditionalMonths, new { htmlAttributes = new { @class = "form-control border-l-4" } })
										}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.TotalQuantity, htmlAttributes: new { @class = "control-label font-bolder" })
										<input class="form-control text-left" id="TotalQuantity" name="TotalQuantity" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.TotalQuantity">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label font-bolder" })
										<input class="form-control text-left" id="Discount" name="Discount" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.Discount">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.NewDiscount, htmlAttributes: new { @class = "control-label font-bolder" })
										@if (Model.TypeInformation == 1)
										{
											<input class="form-control text-left" id="NewDiscount" name="NewDiscount" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.NewDiscount">
										}
										else
										{
											<input class="form-control text-left" id="NewDiscount" name="NewDiscount" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.NewDiscount">
										}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label font-bolder" })
										<input class="form-control text-left" id="Balance" name="Balance" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.Balance">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.CurrentBalance, htmlAttributes: new { @class = "control-label font-bolder" })
										<input class="form-control text-left" id="CurrentBalance" name="CurrentBalance" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.CurrentBalance">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.FourteenRemaining, htmlAttributes: new { @class = "control-label font-bolder" })
										@if (Model.TypeInformation == 1)
										{
											@Html.EditorFor(model => model.FourteenRemaining, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
										}
										else
										{
											@Html.EditorFor(model => model.FourteenRemaining, new { htmlAttributes = new { @class = "form-control border-l-4" } })
										}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<br />
									<label class="p-2 ml-n2 radius-1 font-bolder">
										@Html.CheckBoxFor(model => model.LiquidTwoCAT, htmlAttributes: new { @class = "bgc-danger brc-h-danger-m1", value = "true" })
										Liquida en 2 CAT
									</label>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.TypeLoan, htmlAttributes: new { @class = "control-label font-bolder" })
										@Html.EditorFor(model => model.TypeLoan, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => model.CreditInsurance, htmlAttributes: new { @class = "control-label font-bolder" })
										@if (Model.TypeInformation == 1)
										{
											<input class="form-control text-left" id="CreditInsurance" name="CreditInsurance" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.CreditInsurance">
										}
										else
										{
											<input class="form-control text-left" id="CreditInsurance" name="CreditInsurance" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" inputmode="numeric" value="@Model.CreditInsurance">
										}
									</div>
								</div>
							</div>
						</div>
						<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
							<a href="@Url.Action(Model.RootActionName,"Request")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
								</span>
								regresar
							</a>
							<button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
								<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
									<i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
								</span>
								guardar
							</button>
						</div>

					</div>
				</div>
				<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
			</div>
		</form>
	</div>
</div>
@section PageCrumb{

	@*<small class="page-info text-secondary-d2">
			<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
			Edición de Agremiado Sindical
		</small>*@
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		<a href="@Url.Action("ListCashBox","Request")">Relación de Caja de Tesoreria</a>
	</small>
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		Edición de Información
	</small>
}
@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/tiny-date-picker/tiny-date-picker.css" rel="stylesheet" />

}
<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/tiny-date-picker/date-range-picker.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/formatCurrency/jquery.formatCurrency-1.4.0.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/inputmask/inputmask.binding.js"></script>
<script @Html.CspScriptNonce()>
	$(document).ready(function () {
		//aplicamos el pluging TinyDatePicker
		var TinyDatePicker = DateRangePicker.TinyDatePicker;
		var dp = TinyDatePicker('#Date', {
			mode: 'dp-below',
			format(date) {
				return toJSONLocal(date);
			}
		}).on('statechange', function (ev) {

		});
		ValidatorForm("frmEditBox", "Este campo es requerido", "Éxito");
	});
</script>

