﻿@using Seccion.Model.Enums
@{
    ViewBag.Title = "ListOldBox";
}
<div class="row">
    <div class="col-12">
        <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
            <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
            <div class="card border-0 h-100">
                <div class="card-header brc-dark-l2">
                    <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                        <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                        Informacion Caja Vieja
                    </h5>
                </div>
                <div class="card-body bg-white p-4 collapse show">
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <table id="TblListBox" class="table table-striped dt-responsive nowrap" aria-hidden="true" style="width:100%;padding-bottom: 7em;">
                                <thead>
                                    <tr class="bgc-dark text-white">
                                        <th scope="col"></th>
                                        <th scope="col">No Solicitud</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Cantidad Total</th>
                                        <th scope="col">Descuento</th>
                                        <th scope="col">Nuevo descuento</th>
                                        <th scope="col">Tasa</th>
                                        <th scope="col">Gastos de Admin.</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="modal fade modal-fs" id="modalFullscreen" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageCrumb{
    <small class="page-info text-secondary-d2">
        <i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
        Informacion Caja Vieja
    </small>
}
@section styles{

    @Styles.Render("~/bundles/employeeCss")
}

@*@section scripts {*@
@Scripts.Render("~/bundles/employeeJs")

<script type="text/javascript">
    $(document).ready(function () {


        $("#TblListBox").DataTable({
            serverSide: true,
            processing: true,
            destroy: true,
            filter: true,
            dom: '<"row"<"col-sm-6"f><"col-sm-6"l>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-5"i><"col-sm-7"p>>',
            paging: true,
            responsive: true,
            "language": idioma,
            responsive: {
                details: {
                    renderer: function (api, rowIdx, columns, value) {
                        debugger;
                        var data = $.map(columns, function (col, i) {
                            if (col.hidden) {
                                return '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                    '<td>' + col.title + ':' + '</td> ' +
                                    '<td>' + col.data + '</td>' +
                                    '</tr>';
                            }
                        }).join('');
                        return data ? $('<table/>').append(data).width("25%") : false;
                    }
                }
            },
            ajax: {
                url: "@Url.Action("GetListBox", "Request")",
                data: {
                    "TypeInformation": @((int)TypeInformation.OldBox)
                },
                type: "POST",
                datatype: "json"
            },
            columns: [
                {   // Responsive control column
                    data: null,
                    defaultContent: '',
                    className: 'control',
                    orderable: false
                },
                { data: 'NumberFicha', searchable: true },
                { data: 'UserName', searchable: true },
                {
                    data: 'Quantity',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '$')
                },
                {
                    data: 'TotalQuantity',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '$')
                },
                {
                    data: 'Discount',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '$')
                },
                {
                    data: 'NewDiscount',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '$')
                },
                {
                    data: 'Rate',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '%')
                },
                {
                    data: 'GA',
                    orderable: false,
                    render: $.fn.dataTable.render.number(',', '.', 2, '$')
                },
                {
                    data: "TbBoxesId",
                    orderable: false,
                    render: function (data, type, full) {
                        var menu = "";
                        menu = "<div id='dtbMenu" + data + "' data-id='" + data + "' class='btn-group'>" +
                            "<div class='dropdown d-inline-block dd-backdrop dd-backdrop-none-md'>" +
                            "<a class='card-toolbar-btn text-dark' href='#' role='button' id='dropdownMenuLink4' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                            "<i class='fa fa-list' aria-hidden='true'></i>" +
                            "</a>" +
                            "<div class='dropdown-menu dropdown-menu-right dropdown-caret dd-slide-center dd-slide-none-md dropdown-animated animated-2  brc-danger-tp2 border-t-3' aria-labelledby='dropdownMenuLink4'>";

                        if (@User.Identity.Roles().Contains("1").ToString().ToLower() || @User.Identity.Roles().Contains("3").ToString().ToLower() ) {
                            menu = menu + "<div class='dropdown-inner'>" +
                                "<a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase' href='@Url.Action("EditDataBox", "Request")?TbBoxId=" + data + "&RootActionName=listOldBox'>" +
                                "<i class='fas fa-edit text-dark text-140 w-3 mr-2px' aria-hidden='true'></i>" +
                                "Editar Datos..." +
                                "</a>";
                        }

                        menu = menu + "<div class='dropdown-divider m-1'></div>" +
                            "<button id='btnDetail' class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'" +
                            'onclick="ShowModal(\'' + data + '\');">' +
                            "<i class='fas fa-search text-dark text-140 w-3 mr-2px' aria-hidden='true'></i>" +
                            "Ver Detalle..." +
                            "</button>" +
                            "<div class='dropdown-divider m-1'></div>" +
                            "</div>" +
                            "</div>" +
                            "</div>";
                        return menu;
                    }
                }
            ]
        });


        $('.dataTables_length select').chosen({
            disable_search_threshold: 10,
            width: '80%'
        });

    });
	//document.getElementById("myButton").addEventListener("click", myFunction);
    function ShowModal(id) {
        $("#modalFullscreen").modal('show');

        $(".modal-body").empty();
        $.post("@Url.Action("GetInfoTbBox", "Request")",
            { TbBoxId: id },
            function (data) {
                if (data) {
                    $('.modal-body').append(data);
                    $("#modalFullscreen").modal('show');
                }
            });
    }
</script>
@*}*@