﻿@using Seccion.Service.Common.Message;
<!DOCTYPE html>

<html lang="es-mx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<base href="../" />

	<title>Seccion</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" />

	@if (IsSectionDefined("styles"))
	{
		@RenderSection("styles")
	}

	<link href="~/assetsAce/node_modules/dist/css/ace.min.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/dist/css/ace-themes.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
	<link href="~/assetsAce/css/Style.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="~/assetsAce/image/favicon.ico" />

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>

<body>
	<div class="body-container">
		<div class="main-container">

			<div id="sidebar" class="sidebar sidebar-fixed sidebar-backdrop expandable sidebar-color sidebar-gradient2" data-swipe="true" data-dismiss="true">
				<div class="sidebar-inner">

					<!-- .navbar-brand inside sidebar, only show in desktop view -->
					<div class="d-none d-xl-flex sidebar-section-item m-0 fadeable-left fadeable-top">
						<div class="fadeinable">
							<div class="py-2 mx-1 border-b-1 brc-white-tp9" id="sidebar-header-brand1">
								<a class="navbar-brand text-white-tp1 text-140">
									<i class="fa fa-leaf text-success-l3" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="fadeable w-100 ">
							<div class="py-2 text-center mx-3 border-b-1 brc-white-tp9" id="sidebar-header-brand2">

								<a class="navbar-brand ml-n2 text-white-tp1 text-140" href="#">
									<i class="fa fa-industry mr-1 text-success-l3" aria-hidden="true"></i>
									SECCIÓN <span>47</span>
								</a>

							</div>
						</div>
					</div><!-- /.sidebar-section-item  -->


					<div class="pt-2 flex-grow-1 ace-scroll" ace-scroll="">
						@{
							Html.RenderPartial("_MyPrincipalProfile");
						}

						<ul class="nav flex-column mt-2 has-active-border active-on-top has-active-arrow" role="navigation" aria-label="Main">
							<li class="nav-item-caption">
								<span class="fadeable pl-3 text-uppercase">Menú de Navegación</span>
								<span class="fadeinable mt-n2 text-125">…</span>
							</li>
							@{Html.RenderAction("RenderMenu", "Common"); }
						</ul>

					</div>
				</div>
			</div>

			<div role="main" class="main-content">
				<nav class="navbar navbar-sm navbar-expand-lg navbar-fixed navbar-mediumseagreen">
					<div class="navbar-inner">

						<div class="justify-content-xl-between d-flex h-100 align-items-center">

							<button type="button" class="btn burger-arrowed static collapsed ml-2 d-flex d-xl-none btn-burger" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
								<span class="bars"></span>
							</button>

							<a class="navbar-brand d-xl-none text-white" href="#">
								<i class="fa fa-industry" aria-hidden="true"></i>
								SECCIÓN
								<span class="d-sm-inline-block">47</span>
							</a>

							<button type="button" class="btn align-self-center mx-2 d-none d-xl-flex btn-burger" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
								<span class="bars"></span>
							</button>
						</div>


						<div class="navbar-content">


						</div><!-- .navbar-content -->
						<!-- .navbar-menu togger -->
						<button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
							<img class="" src="~/assetsAce/image/avatar/logo.png" width="50" height="64" alt="Jason's Photo">
						</button>


						<div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
							<div class="navbar-nav">

								@{
									Html.RenderPartial("_MyProfile");
								}

								<!-- /.navbar-nav menu -->
							</div>


						</div>


					</div>
				</nav>
				<div class="page-content container">
					<div id="stack-context" class="page-header">
						<h4 class="page-title text-primary-d2">
							<a href="@Url.Action("Index","Home")">Home</a>

							@if (IsSectionDefined("PageCrumb"))
							{
								@RenderSection("PageCrumb")
							}
						</h4>
					</div>
					@Html.ViewContext.DisplayMessages()
					@RenderBody()
					@if (IsSectionDefined("scripts"))
					{
						@RenderSection("scripts")
					}

				</div><!-- /.page-content -->

				@{
					Html.RenderPartial("_FooterPage");
				}
			</div><!-- /main -->

		</div><!-- /.main-container -->

	</div><!-- /.body-container -->
	<!-- include common vendor scripts used in demo pages -->
	@*<script src="~/assetsAce/js/layoutpage/loadpage.js"></script>*@
	<script src="~/assetsAce/node_modules/js/plugins/popperjs/popper.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/assetsAce/node_modules/dist/js/ace.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotify.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyStyleMaterial.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyButtons.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyAnimate.js"></script>

	@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/assetsAce/node_modules/js/plugins/loadingoverlay/loadingoverlay.min.js"></script>*@

	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/loadingoverlay/loadingoverlay.min.js"></script>


	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/Forms/RudolfUtilities.js"></script>
	<script src="~/assetsAce/js/layoutpage/loadpage.js"></script>
</body>
</html>