﻿@using Seccion.Service.Common.Message;
@using NWebsec.Mvc.HttpHeaders.Csp
<!DOCTYPE html>

<html lang="es-mx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>@ViewBag.Title</title>

	@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
	@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
		<link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
		<link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" />
		<link href="~/assetsAce/node_modules/dist/css/ace.min.css" rel="stylesheet" />
		<link href="~/assetsAce/css/login/page-login-style.css" rel="stylesheet" />*@
	@Styles.Render("~/Ace/loginLayoutCss")
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
	<link rel="icon" type="image/png" href="~/assetsAce/image/favicon.ico" />


</head>
<body>
	<div class="body-container">
		<div class="main-container container">

			<div role="main" class="main-content minh-100 justify-content-center">
				<div class="p-2 p-md-4 h-100">
					<div class="row h-100">
						<div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-10 offset-lg-1">

							<div class="row h-100">

								<div class="d-none d-lg-flex col-lg-5 border-r-1 brc-default-l2 px-0">
									<div id="loginBgCarousel" class="carousel slide minw-100 h-100">
										<ol class="carousel-indicators d-none">
											<li data-target="#loginBgCarousel" data-slide-to="0" class="active"></li>
										</ol>

										<div class="carousel-inner minw-100 h-100">

											<div class="carousel-item active minw-100 h-100">
												<div style="background-image: url(../../assetsAce/image/login-bg-3.jpg);" class="d-flex flex-column align-items-center justify-content-start">
													<div class="bgc-black-tp4 radius-1 p-3 w-90 text-center my-3 h-100">
														<h1><i class="fa fa-leaf text-success-m2 text-125" aria-hidden="true"></i></h1>
														<h2 class="text-blue-l1">
															Seccion 47 <span class="text-80 text-white-tp3">  MUT47</span>
														</h2>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-7 py-lg-5 bgc-white px-0">
									@Html.ViewContext.DisplayMessages()
									@RenderBody()
								</div>



							</div>

						</div>
					</div>

					<div class="d-lg-none my-3 text-white-tp1 text-center text-uppercase">
						<i class="fa fa-leaf text-success-l3 mr-1 text-110 " aria-hidden="true"></i> Sección 47 Company &copy; @DateTime.Now.Year
					</div>
				</div>
			</div>

		</div>

	</div>


	@Scripts.Render("~/bundles/loginLayoutJs")
	@RenderSection("scripts", required: false)

	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/Forms/VariblesJSONToValidation.js"></script>
	<script src="~/Scripts/Forms/RudolfUtilities.js"></script>

</body>
</html>
