﻿@using Microsoft.AspNet.Identity;
<ul class="nav">

    <li class="nav-item dropdown dropdown-mega">
        <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell text-110 icon-animated-bell mr-lg-2" aria-hidden="true"></i>

            <span class="d-inline-block d-lg-none ml-2">Notificaciones</span><!-- show only on mobile -->
            <span id="id-navbar-badge1" class="badge badge-sm badge-warning radius-round text-80 border-1 brc-white-tp5">0</span>

            <i class="caret fa fa-angle-left d-block d-lg-none" aria-hidden="true"></i>
            <div class="dropdown-caret brc-white"></div>
        </a>
        <div class="shadow dropdown-menu dropdown-animated dropdown-sm p-0 bg-white brc-primary-m3 border-1 border-b-2">
            <ul class="nav nav-tabs nav-tabs-simple w-100 nav-justified dropdown-clickable border-b-1 brc-default-m4">
                <li class="nav-item">
                    <a class="d-style px-0 mx-0 py-3 nav-link active text-600 brc-blue-m2 text-grey-m3 bgc-h-blue-l4" data-toggle="tab" href="#navbar-notif-tab-1" role="tab">
                        <span class="d-active text-blue-m1 text-105">Notificaciones</span>
                        <span class="d-n-active">Notificaciones</span>
                    </a>
                </li>
            </ul><!-- .nav-tabs -->


            <div class="tab-content tab-sliding p-0">

                <div class="tab-pane mh-none show active px-md-1 pt-1" id="navbar-notif-tab-1" role="tabpanel">
                    <div id="navbar-notif-tab-1-child">

                    </div>

                    <hr class="mt-1 mb-1px brc-info-m4" />
                    <a href="@Url.Action("Index", "Card")" class="mb-0 py-3 border-0 list-group-item text-blue-m2 text-uppercase text-center text-85 font-bold">
                        Ver todas las notificaciones
                        <i class="ml-2 fa fa-arrow-right text-muted" aria-hidden="true"></i>
                    </a>
                </div><!-- .tab-pane : notifications -->
            </div>
        </div>
    </li>

    <li class="nav-item dropdown order-first order-lg-last">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="pl-1">
                <span class="d-inline-block bgc-danger p-2 radius-round text-center w-6 h-6 mr-3">
                    <i class="fa fa-user text-white text-180 d-inline-block " aria-hidden="true"></i>
                </span>
            </div>
            <span class="d-inline-block d-lg-none d-xl-inline-block">
                <span class="text-90" id="id-user-welcome">Bienvenido,</span>
                <span class="nav-user-name">@User.Identity.GetName()</span>
            </span>

            <i class="caret fa fa-angle-down d-none d-xl-block" aria-hidden="true"></i>
            <i class="caret fa fa-angle-left d-block d-lg-none" aria-hidden="true"></i>
        </a>

        <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
            <div class="d-none d-lg-block d-xl-none">
                <div class="dropdown-header">
                    Welcome, @User.Identity.GetName()
                </div>
                <div class="dropdown-divider"></div>
            </div>

            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("EditMyData", "AccountUser")/@User.Identity.GetUserId()">
                <i class="fa fa-user-edit text-dark text-110 mr-1" aria-hidden="true"></i>
                Editar Mis Datos
            </a>

            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("ChangePassword", "AccountUser")">
                <i class="fa fa-user-secret text-dark text-110 mr-1" aria-hidden="true"></i>
                Cambiar Contraseña
            </a>

            <div class="dropdown-divider brc-primary-l2"></div>

            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="@Url.Action("LogOff", "Login")">
                <i class="fa fa-power-off text-danger text-110 mr-1" aria-hidden="true"></i>
                Cerrar Sesión
            </a>
        </div>
    </li><!-- /.nav-item:last -->
</ul>

<style>
    .fade:not(.show) {
        opacity: 1 !important;
    }

    [ui-pnotify].ui-pnotify.stack-bar-top {
        width: 75%;
    }
</style>
@*
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />*@
<link href="~/assetsAce/node_modules/js/plugins/notify/animate.min.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {

        //NotifierMessage(messageSeverity.Info, "¡Información!", "Tienes una nueva notificacion del usuario");

        $.ajax({
            "async": true,
            "crossDomain": true,
            "url": "/Home/GetNotifications/",
            "cache": false,
            "method": "GET",
            //"contentType": 'application/json; charset=utf-8',
        }).done(function (data) {
            document.getElementById("id-navbar-badge1").innerHTML = data.newNotification;

            data.data.forEach(function (valor, indice, array) {
                var elementA = document.createElement("a");
                elementA.className = "mb-0 border-0 list-group-item list-group-item-action btn-h-lighter-secondary";
                elementA.href = "Card/EditCard?id=" + valor.TbNotificationId;

                var elementI = document.createElement("i");
                elementI.className = "fa fa-comment bgc-pink-tp1 text-white text-110 mr-1 p-2 radius-1";
                elementA.appendChild(elementI);

                var elementSpan1 = document.createElement("span");
                elementSpan1.className = "text-muted";
                elementSpan1.innerText = valor.Title;
                elementA.appendChild(elementSpan1);

                var elementSpan2 = document.createElement("span");
                elementSpan2.className = "float-right badge badge-info radius-round text-80";
                elementSpan2.innerText = valor.UserInsert;
                elementA.appendChild(elementSpan2);

                document.getElementById("navbar-notif-tab-1-child").appendChild(elementA);
            });

        }).fail(function (jqXHR, textStatus, err) {
            //MessageError(jqXHR, textStatus, err, Title, "LnkMessage");
        });
    });
</script>