﻿
<div class="sidebar-section-item mx-0  fadeable-left fadeable-top">
	<div class="fadeinable">
		<img src="~/assetsAce/image/avatar/logo.png" width="80" height="100" class="" alt="">
	</div>

	<div class="fadeable hideable">

		<div class="py-2 d-flex flex-column align-items-center">
			<div>
				<img src="~/assetsAce/image/avatar/logo.png" width="80" height="100" class="" alt="">
			</div>

			<div class="text-center mt-1" id="id-user-info">
				<a href="#id-user-menu" class="d-style pos-rel collapsed accordion-toggle no-underline px-1 py-2px text-white-tp1 text-center" data-toggle="collapse" aria-expanded="false">
					<span class="text-95 font-bolder">@User.Identity.GetName()</span>
					<i class="fa fa-caret-down text-90 d-collapsed" aria-hidden="true"></i>
					<i class="fa fa-caret-up text-90 d-n-collapsed" aria-hidden="true"></i>
				</a>
				<div class="text-white-tp2 text-80">Marketing</div>
			</div><!-- /#id-user-info -->

			<div class="collapse" id="id-user-menu">
				<div class="mt-3">
					<a href="@Url.Action("MyUserData", "AccountUser")" class="btn bgc-blue-l2 btn-brc-white btn-h-outline-blue radius-round py-2 px-1 text-center border-2 shadow-sm">
						<i class="fa fa-id-card w-4 text-110 text-blue-m1" aria-hidden="true"></i>
					</a>

					<a href="@Url.Action("ChangePassword","AccountUser")" class="btn bgc-purple-l2 btn-brc-white btn-h-outline-purple radius-round py-2 px-1 text-center border-2 shadow-sm">
						<i class="fa fa-user-secret w-4 text-110 text-purple-m1" aria-hidden="true"></i>
					</a>
				</div>
			</div><!-- /.collapse -->

		</div>

	</div>
</div>
