﻿
@model Seccion.Web.Models.GridListModel.MenuIdModel

<div class='dropdown d-inline-block dd-backdrop dd-backdrop-none-md'>
    <a class='card-toolbar-btn text-dark' href='#' role='button' id='dropdownMenuLink4' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        <i class='fa fa-list' aria-hidden="true"></i>
    </a>
    <div class='dropdown-menu dropdown-menu-right dropdown-caret dd-slide-center dd-slide-none-md dropdown-animated animated-2  brc-danger-tp2 border-t-3' aria-labelledby='dropdownMenuLink4'>
        <div class='dropdown-inner'>
            @if (Model.EditLink != null)
            {
                if (User.Identity.Roles().Contains("1") || User.Identity.Roles().Contains("3"))
                {
                    <a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'
                       href='@Model.EditLink/@Model.Id'>
                        <i class='fas fa-edit text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                        Editar Datos...
                    </a>

                    <div class='dropdown-divider m-1'></div>
                }
            }
            @if (Model.DetailLink != null)
            {
                <a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'
                   href='@Model.DetailLink/@Model.Id'>
                    <i class='fas fa-search text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                    Ver Detalle...
                </a>

                <div class="dropdown-divider m-1"></div>
            }
            @if (Model.CompleteLink != null)
            {
                if (User.Identity.Roles().Contains("1") || User.Identity.Roles().Contains("3"))
                {
                    <a class="dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase"
                       href='@Model.CompleteLink/@Model.Id'>
                        <i class='fas fa-clipboard-list text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                        Completar datos...
                    </a>

                    <div class='dropdown-divider m-1'></div>
                }
            }
            @if (Model.Delete != null)
            {
                if (User.Identity.Roles().Contains("1"))
                {
                    <a href='javascript:ActivarUser("@Model.Id", "@Model.Delete")' class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'>
                        <i class='fas fa-trash text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                        Eliminar
                    </a>
                }
            }
            @if (Model.ModalDetail != null)
            {
                if (User.Identity.Roles().Contains("1"))
                {
                    <a href='javascript:ShowModal("@Model.Id")' class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'>
                        <i class='fas fa-trash text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                        Eliminar
                    </a>
                }
            }
        </div>
    </div>
</div>

