﻿
@{
	ViewBag.Title = "View";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="tab-content border-0 p-0" data-swipe="right">



	<div class="tab-pane mh-100 px-3 px-lg-0 pb-3 active" id="id-tab-signup" data-swipe-prev="#id-tab-login">


		<div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0 text-uppercase">
			<h4 class="text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130">
				<i class="fa fa-user-shield text-danger-d3 mr-1" aria-hidden="true"></i>
				cuenta: confirmación de cuenta
			</h4>
		</div>

		<div class="d-lg-none text-secondary-m1 my-4 text-center text-uppercase">
			<i class="fa fa-leaf text-success-m2 text-200 mb-4" aria-hidden="true"></i>
			<h1 class="text-170">
				<span class="text-blue-d1">Sección <span class="text-80 text-dark-tp4">47</span></span>
			</h1>

			cuenta: confirmación de cuenta
		</div>

		<form id="resetPassword" class="form-row mt-4">
			<div class="form-group col-md-6 offset-md-3 text-center">
				<div class="pl-1">
					<span class="d-inline-block bgc-success-m1 p-3 radius-round text-center">
						<i class="fa fa-check text-white text-180 w-4" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<div class="form-group col-md-6 offset-md-3">
				@*<p class="text-secondary-m1 mb-3">
					¡¡Correo enviado Exitosamente!!
				</p>*@
				<p class="text-secondary-m1 mb-3">
					Gracias por confirmar tu Cuenta. Por favor:
				</p>
			</div>


			<div class="form-group col-md-6 offset-md-3 mt-2">


				<a href="@ViewBag.UrlResetPassword" class="btn btn-success btn-block btn-md btn-bold mt-2 mb-3">
					cambiar contraseña
				</a>
			</div>
		</form>
	</div>
</div><!-- .tab-content -->
