﻿
@{
	ViewBag.Title = "ForgotPassword";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@*you can also use tab links*@
<ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
			Login
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="signup" aria-selected="false">
			Signup
		</a>
	</li>
</ul>


<div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

	<div class="tab-pane mh-100 px-3 px-lg-0 pb-3 active" id="id-tab-forgot" data-swipe-prev="#id-tab-login">
		<div class="position-tl ml-3 mt-2">
			<a href="@Url.Action("LoginOn","Login")" class="btn btn-light-danger bg-transparent">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
			</a>
		</div>

		<div class="col-md-6 offset-md-3 mt-5 px-0">
			<h4 class="pt-4 pt-md-0 text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130 text-uppercase">
				<i class="fa fa-key text-brown-m2 mr-1" aria-hidden="true"></i>
				Recuperar Contraseña
			</h4>
		</div>

		<form id="form-ForgotPassword" class="form-row mt-4" action="/Login/ForgotPassword" role="form" method="post" autocomplete="off" novalidate="">
			@Html.AntiForgeryToken()
			<div class="form-group col-md-6 offset-md-3">
				<label class="text-secondary-m1 mb-3">
					Ingrese su dirección de correo electrónico y le enviaremos las instrucciones:
				</label>
				<div class="d-flex align-items-center">
					<input type="text" class="form-control form-control-lg pr-4 shadow-none" id="Email" name="Email" placeholder="E-mail" required autocomplete="off" />
					<i class="fa fa-envelope text-grey-m2 ml-n4" aria-hidden="true"></i>
				</div>
			</div>


			<div class="form-group col-md-6 offset-md-3 mt-1">
				<button type="submit" class="btn btn-yellow btn-block btn-md btn-text-black btn-bold mt-2 mb-4 btn-text-slide-x">
					Enviar Correo <i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2" aria-hidden="true"></i>
				</button>
			</div>
		</form>


		<div class="form-row w-100">
			<div class="col-12 col-md-6 offset-md-3 d-flex flex-column align-items-center justify-content-center">

				<hr class="brc-default-m4 mt-0 mb-2 w-100" />

				<div class="p-0 px-md-2 text-dark-tp4 my-3">
					<a class="text-danger-d2 text-600" href="@Url.Action("LoginOn","Login")">
						Regresar para iniciar sesión
					</a>
				</div>


			</div>
		</div>
	</div>

</div>

<style>
	.fade:not(.show) {
		opacity: 1 !important;
	}

	[ui-pnotify].ui-pnotify.stack-bar-top {
		width: 75%;
	}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
<link href="~/assetsAce/node_modules/js/plugins/notify/animate.min.css" rel="stylesheet" />
@section scripts {

	<script src="~/assetsAce/js/page.login/aes.js"></script>
	<script @Html.CspScriptNonce()>
		$(document).ready(function () {
			ValidatorForm("form-ForgotPassword", "Este campo es requerido", "Éxito", EmailValid);
		});


	</script>
}

