﻿@using Seccion.Web.Models
@using NWebsec.Mvc.HttpHeaders.Csp
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
	ViewBag.Title = "LoginOn";
}


<ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
			Login
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="signup" aria-selected="false">
			Signup
		</a>
	</li>
</ul>


<div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

	<div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
		<div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
			<h4 class="border-b-1 brc-grey-l1 pb-1 text-uppercase">
				<i class="fa fa-coffee text-orange-m2 mr-1" aria-hidden="true"></i>
				Bienvenido
			</h4>
		</div>

		<div class="d-lg-none text-secondary-m1 my-4 text-center text-uppercase">
			<a href="html/dashboard.html">
				<i class="fa fa-leaf text-success-m2 text-200 mb-4" aria-hidden="true"></i>
			</a>
			<h1 class="text-170">
				<span class="text-blue-d1">
					Sección
					<span class="text-dark-tp3"> 47 </span>
				</span>
			</h1>

			Bienvenido
		</div>

		<form id="form-login" class="form-row mt-4" action="/Login/LoginOn" data-ajax="true" data-ajax-method="Post" data-ajax-success="CreateAssetSuccess" role="form" method="post" autocomplete="off" novalidate="">


			@Html.AntiForgeryToken()
			<div class="form-group col-md-6 offset-md-3">
				<div class="d-flex align-items-center input-floating-label text-danger brc-danger">
					@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control form-control-lg pr-4 shadow-none", required = "required", autocomplete = "off" })
					<i class="fa fa-user text-dark ml-n4" aria-hidden="true"></i>
					<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-username">Usuario o E-mail</label>
				</div>
			</div>

			<div class="form-group col-md-6 offset-md-3 mt-2 mt-md-1">
				<div class="d-flex align-items-center input-floating-label text-danger brc-danger">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg pr-4 shadow-none", required = "required" })
					<i class="fa fa-key text-dark ml-n4" aria-hidden="true"></i>
					<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-password">Contraseña</label>
				</div>
			</div>
			<br />
			<br />
			<br />
			<div class="col-md-6 offset-md-3 text-right text-md-right mt-n2 mb-2">
				<a href="@Url.Action("ForgotPassword","Login")" class="text-danger-d3 text-115">
					Se te olvidó tu contraseña?
				</a>
			</div>
			<br />
			<br />
			<br />
			<div class="form-group col-md-6 offset-md-3">

				<button type="submit" class="btn btn-yellow btn-block btn-md btn-text-black btn-bold mt-2 mb-4 btn-text-slide-x">
					Iniciar Sesión <i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2" aria-hidden="true"></i>
				</button>

			</div>
		</form>


	</div>

</div>



<style>
	.fade:not(.show) {
		opacity: 1 !important;
	}

	[ui-pnotify].ui-pnotify.stack-bar-top {
		width: 75%;
	}
</style>
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />*@
<link href="~/assetsAce/node_modules/js/plugins/notify/animate.min.css" rel="stylesheet" />
@section scripts {

	<script src="~/assetsAce/js/page.login/aes.js"></script>
	<script @Html.CspScriptNonce()>
		$(document).ready(function () {
			ValidatorForm("form-login", "Este campo es requerido", "Éxito");
		});
		function CreateAssetSuccess(data) {
        @*grecaptcha.ready(function () {
            grecaptcha.execute('@(ConfigurationManager.AppSettings["KeySite"].ToString())', { action: '/Login/Login' }).then(function (token) {
                $("#html_element").val(token);
                $('#ContainerModal').find("input[name=html_element]:hidden").val(token);
            });
        });*@


			if (data.type === "EmailConfirm") {
				$("#Usuario").val('');
				$("#Password").val('');
				$('#form-login').get(0).reset();
				NotifierMessage(messageSeverity.Warning, "!Advertencia!", "Debe tener un correo electrónico confirmado para iniciar sesión.");
				return;
			}
			if (data.type === "UserInactive") {
				$("#Usuario").val('');
				$("#Password").val('');
				$('#form-login').get(0).reset();
				NotifierMessage(messageSeverity.Info, "Información!!", "Ya no tienes permiso para acceder al sistema de Administración de Caja.");
				return;
			}
			if (data.type === "LoginFailed") {
				$("#Usuario").val('');
				$("#Password").val('');
				$('#form-login').get(0).reset();
				NotifierMessage(messageSeverity.Error, "!Error!", "Error de inicio de sesión; ID de usuario o contraseña no válidos.");
				return;
			}
			if (data.type === "Exception") {
				$("#Usuario").val('');
				$("#Password").val('');
				$('#form-login').get(0).reset();
				NotifierMessage(messageSeverity.Error, "!Error!", data.message);
				return;
			}

        window.location.href = data;
    }
		function SubmitsEncry() {

			//debugger;
			var txtUserName = $("#Usuario").val();
			var txtpassword = $("#Password").val();

			if (txtUserName === "") {
				//alert('Please enter UserName');
				return false;
			}
			else if (txtpassword === "") {
				//alert('Please enter Password');
				return false;
			}
			else {
				var key = CryptoJS.enc.Utf8.parse('8080808080808080');
				var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

				var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtUserName), key,
					{
						keySize: 128 / 8,
						iv: iv,
						mode: CryptoJS.mode.CBC,
						padding: CryptoJS.pad.Pkcs7
					});

				$("#Usuario").val(encryptedlogin);

				var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
					{
						keySize: 128 / 8,
						iv: iv,
						mode: CryptoJS.mode.CBC,
						padding: CryptoJS.pad.Pkcs7
					});

				$("#Password").val(encryptedpassword);
			}
		}
	</script>
}