﻿@model Seccion.Web.Models.ResetViewModel
@{
	ViewBag.Title = "ResetPassword";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="tab-content border-0 p-0" data-swipe="right">

	<div class="tab-pane mh-100 px-3 px-lg-0 pb-3 active" id="id-tab-signup" data-swipe-prev="#id-tab-login">


		<div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0 text-uppercase">
			<h4 class="text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130">
				<i class="fa fa-user-shield text-danger-d3 mr-1" aria-hidden="true"></i>
				Restablecer Contraseña
			</h4>
		</div>

		<div class="d-lg-none text-secondary-m1 my-4 text-center text-uppercase">
			<i class="fa fa-leaf text-success-m2 text-200 mb-4" aria-hidden="true"></i>
			<h1 class="text-170">
				<span class="text-blue-d1">Sección <span class="text-80 text-dark-tp4">47</span></span>
			</h1>

			restablecer Contraseña
		</div>

		<form id="resetPassword" class="form-row mt-4" method="post" action="/Login/ResetPassword">
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.UserId)
			@Html.HiddenFor(model => model.code)
			<div class="form-group col-md-6 offset-md-3">
				<label class="text-secondary-m1 mb-3">
					Por favor ingrese y confirme su nueva contraseña:
				</label>
			</div>

			<div class="form-group col-md-6 offset-md-3 mt-1">
				<div class="d-flex align-items-center input-floating-label text-success-m1 brc-success-m2">
					<input type="password" name="NewPassword" id="NewPassword" min="8" required class="form-control form-control-lg pr-4 shadow-none" autocomplete="off" aria-describedby="popover372883">
					<i class="fa fa-key text-grey-m2 ml-n4" aria-hidden="true"></i>
					<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password">Nueva Contraseña</label>
				</div>
				@*<input type="password" class="form-control border-l-4" name="NewPassword" id="NewPassword" min="8" required aria-describedby="popover372883">*@
				<div class="popover fade bs-popover-bottom" role="tooltip" id="popover372883" data-placement="bottom" style="top: 100%; will-change: transform; display: none;">
					<div class="arrow" style="left: 50%;"></div>
					<h3 class="popover-header">La contraseña debe tener los siguientes Requisitos:</h3>
					<div class="popover-body">
						<div id="">
							<ul>
								<li id="length" class="bad">Debe tener minimo <strong>8 Caracteres</strong></li>
								<li id="capital" class="bad">Al menos <strong>una Letra Mayuscula</strong></li>
								<li id="letter" class="bad">Al menos <strong>una Letra Minuscula</strong></li>
								<li id="number" class="bad">Al menos <strong>um Número</strong></li>
								<li id="charter" class="bad">Al menos <strong>un Carácter especial !,%,&,@("@"),#,$,*,?,_,-,~</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group col-md-6 offset-md-3 mt-1">
				<div class="d-flex align-items-center input-floating-label text-success-m1 brc-success-m2">
					<input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-lg pr-4 shadow-none" autocomplete="off" required>
					<i class="fas fa-redo-alt text-grey-m2 ml-n4" aria-hidden="true"></i>
					<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password2">Confirmar Contraseña</label>
				</div>
			</div>


			<div class="form-group col-md-6 offset-md-3 mt-2">


				<button type="submit" class="btn btn-success btn-block btn-md btn-bold mt-2 mb-3">
					Aceptar
				</button>
			</div>
		</form>
	</div>
</div><!-- .tab-content -->

<style type="text/css">

	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.bad {
		background: url(../../assetsAce/image/ui/Delete_16x16.png) no-repeat 0 50%;
		padding-left: 22px;
		line-height: 24px;
		color: #ec3f41;
	}

	.good {
		background: url(../../assetsAce/image/ui/Check_16x16.png) no-repeat 0 50%;
		padding-left: 22px;
		line-height: 24px;
		color: #3a7d34;
	}

	.fade:not(.show) {
		opacity: 1 !important;
	}

	[ui-pnotify].ui-pnotify.stack-bar-top {
		width: 75%;
	}
</style>

@section scripts {
	<script @Html.CspScriptNonce()>
		$(function () {


			//NotifierMessage(messageSeverity.Info, "Éxito!!", "Hola Rudolf!! ya es hora de dormir");
			$('#NewPassword').keyup(function () {
				var pswd = $(this).val();
				if (pswd.length < 8) {
					$('#length').removeClass('good').addClass('bad');
				} else {
					$('#length').removeClass('bad').addClass('good');
				}
				if (pswd.match(/[a-z]/)) {
					$('#letter').removeClass('bad').addClass('good');
				} else {
					$('#letter').removeClass('good').addClass('bad');
				}
				if (pswd.match(/[A-Z]/)) {
					$('#capital').removeClass('bad').addClass('good');
				} else {
					$('#capital').removeClass('good').addClass('bad');
				}
				if (pswd.match(/\d/)) {
					$('#number').removeClass('bad').addClass('good');
				} else {
					$('#number').removeClass('good').addClass('bad');
				}
				if (pswd.match(/([!,%,&,@@,#,$,*,?,_,\-,~])/)) {
					$('#charter').removeClass('bad').addClass('good');
				} else {
					$('#charter').removeClass('good').addClass('bad');
				}
			}).focus(function () {
				$('#popover372883').show();
			}).blur(function () {
				$('#popover372883').hide();
			});

			ValidatorForm("resetPassword", "Este campo es requerido", "Éxito", confirmPassword);
		});

		function CreateAssetSuccess(response) {

			if (response.success) {

				Swal.fire({
					title: 'Éxito !! Tú contraseña se cambio correctamente.',
					text: "Por favor iniciar sesión nuevamente",
					icon: 'success',

					confirmButtonColor: '#c3092e',
					confirmButtonText: 'Aceptar',
					allowOutsideClick: false

				}).then((result) => {
					if (result.value) {

						$.ajax({
							url: '@Url.Action("LogOff", "AccountUser")',
							type: 'POST',
							//data: JSON.stringify(datos),
							contentType: "application/json; charset:utf-8",
							dataType: 'json'
						})
							.done(function (data) {
								window.location.href = data;
							})
							.fail(function (data) {
								swal('Error', 'Error');
							});
					}
				}).catch(function (error) {
					Swal.fire(
						'Error!',
						'Ocurrio un error al procesar la solicitud ' + error,
						'error'
					)
				});
			} else {
			//if (response.success """ false) {
				var errorList = response.message.Errors;
				var messageText = "";
				if (errorList.length > 1) {
					for (var i = 0; i < errorList; i++) {
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'ToDo anda marchando Bien! gracias a Dios.' + '<noscript></noscript></div>';

					}

				} else {
					if (errorList[0] === "Incorrect password.") {
						messageText += '<div class="ui-pnotify-text " role="alert"><noscript></noscript>' + 'La contraseña Actual es Incorrecta, por favor verificar nuevamente.' + '<noscript></noscript></div>';
					}
				}

				NotifierMessage(messageSeverity.Warning, "Advertencia!!", messageText);
				return;
			}
		}

	</script>
}