﻿@model Seccion.Web.Models.ViewModels.CardViewModel

@{
    ViewBag.Title = "CreateCardNotification";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <form id="CreateCard" method="post" action="@Url.Action("CreateCard", "Card")" role="form" novalidate="" autocomplete="off", enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
                <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
                <div class="card border-0 h-100" id="card-8">
                    <div class="card-header  brc-dark-l2">
                        <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                            <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                            Registro de Agremiado Sindical
                        </h5>
                    </div><!-- /.card-header -->

                    <div class="card-body bg-white p-0 collapse show">
                        <div class="p-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Users, new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Users, (IEnumerable<SelectListItem>)ViewBag.ContractualSituation, "", new { @class = "form-control chosen-select border-l-4", @data_placeholder = "-Seleccionar-", required = "required", multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                        <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImportFiles, new { @class = "control-label" })
                                        <input type="file" class="ace-file-input"
                                               id="ImportFiles"
                                               name="ImportFiles"
                                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.rar,image/*"
                                               multiple="multiple" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
                            <a href="@Url.Action("Index","Card")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3 text-uppercase">
                                <span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
                                    <i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
                                </span>
                                regresar
                            </a>
                            <button type="submit" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold text-uppercase">
                                <span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
                                    <i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
                                </span>
                                guardar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="border-b-3 w-100 brc-dark radius-b-1"></div>

            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.js"></script>

    <script type="text/javascript">
        //chosen
        $(".chosen-select").chosen({ allow_single_deselect: true });

        $('.ace-file-input').aceFileInput({
                style: 'drop',
                droppable: true,

                container: 'border-1 border-dashed brc-grey-l1 brc-h-blue-m2 shadow-sm',

                placeholderClass: 'text-125 text-600 text-grey-l2 my-2',
                placeholderText: 'Arrastra las imagenes o click para seleccionar',
                placeholderIcon: '<i class="fa fa-cloud-upload-alt fa-3x text-blue-l1 my-2"></i>',

                //previewSize: 80,
                thumbnail: 'large',

                allowExt: 'gif|jpg|jpeg|png|webp|svg',

                //maxSize: 100000,

            });
    </script>
}