﻿@using Seccion.Model.Enums
@model Seccion.Web.Models.ViewModels.EditCardViewModel

@{
    ViewBag.Title = "ViewCard";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <form id="EditCard" method="post" action="@Url.Action("EditCard", "Card")" role="form" novalidate="" autocomplete="off" , enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.TbNotificationId)
            @Html.HiddenFor(x => x.TbCardId)
            <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
                <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
                <div class="card border-0 h-100" id="card-8">
                    <div class="card-header  brc-dark-l2">
                        <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                            <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                            Editar tarea
                        </h5>
                    </div><!-- /.card-header -->

                    <div class="card-body bg-white p-0 collapse show">
                        <div class="p-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control border-l-4", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, new { @class = "control-label" })
                                        @Html.DropDownListFor(x => x.Status,
                                            EnumHelper.GetSelectList(typeof(StatusNotification)),
                                            new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                        <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Comment, new { @class = "control-label" })
                                        <textarea class="form-control" id="Comment" name="Comment" rows="3">@Model.Comment</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table id="simple-table" class="table table-bordered table-bordered-x table-hover text-dark-m2" aria-describedby="Notas">
                                <thead class="text-dark-m3 bgc-grey-l4">
                                    <tr>
                                        <th scope="col" class="text-center pr-0">
                                            <label>
                                                <input type="checkbox" class="align-bottom" autocomplete="off" />
                                            </label>
                                        </th>
                                        <th scope="col" class="text-center pr-0">
                                            <span class="d-md-none"><i class="fa fa-plus text-sm" aria-hidden="true"></i></span>
                                            <span class="d-none d-md-inline-block">Archivo</span>
                                        </th>
                                        <th scope="col" class="text-center pr-0">
                                            <span class="d-md-none"><i class="fa fa-plus text-sm" aria-hidden="true"></i></span>
                                            <span class="d-none d-md-inline-block">Acciones</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.ImportFiles)
                                {
                                    <tr class="bgc-h-default-l3 d-style">

                                        <td class='text-center pr-0 pos-rel'>
                                            <div class="position-tl h-100 ml-n1px border-l-4 brc-info-m1 v-hover"></div>
                                            <div class="position-tl h-100 ml-n1px border-l-4 brc-success-m1 v-active"></div>

                                            <label>
                                                <input type="checkbox" class="align-middle" autocomplete="off"/>
                                            </label>
                                        </td>
                                        <td class='d-none d-sm-table-cell'>@item.FileName</td>
                                        <td>
                                            <div class='d-none d-lg-flex text-muted'>
                                                <a href="@Url.Action("DownloadFile", "Card", new {blobName = item.FileName})" class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-primary btn-a-outline-primary btn-text-primary DownloadFile" id="downloadFile"><i class="fa fa-save" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
                            <a href="@Url.Action("Index","Card")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3 text-uppercase">
                                <span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
                                    <i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
                                </span>
                                regresar
                            </a>
                            <button type="submit" id="formInput" class="btn btn-danger radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold text-uppercase">
                                <span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
                                    <i class="fa fa-save text-white-tp2 text-160" aria-hidden="true"></i>
                                </span>
                                guardar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="border-b-3 w-100 brc-dark radius-b-1"></div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        var validateForm = (function () {

            var validate = function () {
                var response = $("#Status").val();
                if (response == 3) {
                    $("#formInput").prop("disabled", true);
                    $("#Status").prop("disabled", true);
                } else {
                    $("#formInput").prop("disabled", false);
                }
            }

            return {
                validate: validate
            }
        })();

        $(function() {
            validateForm.validate();

            var select = document.getElementById('Status');

            for (var i = 0, l = select.options.length; i < l; i++) {
                var option = select.options[i];
                if(option.value == 1) {
                    option.innerHTML = "Asignado";
                }
                else if (option.value == 2) {
                    option.innerHTML = "En Proceso";
                }
                else if (option.value == 3) {
                    option.innerHTML = "Cerrado";
                }
            }
        });

    </script>
}