﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
            <div class="border-t-3 w-100 brc-dark radius-t-1"></div>
            <div class="card border-0 h-100" id="card-8">
                <div class="card-header  brc-dark-l2">
                    <h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
                        <i class="fa fa-table mr-2px" aria-hidden="true"></i>
                        Notificaciones
                    </h5>
                    <div class="card-toolbar">
                        <a class="btn btn-wide btn-warning btn-h-outline-warning btn-a-outline-warning border-2 mb-1" href="@Url.Action("CreateCard", "Card")">
                            <i class="fa fa-user-plus text-110 mr-2" aria-hidden="true"></i>
                            Nueva tarea
                        </a>
                    </div>
                </div>

                <div class="card-body bg-white p-0 collapse show">
                    <br />

                    <div class="p-3">
                        <table id="listNotifications" class="table table-striped dt-responsive nowrap" aria-hidden="true" style="width:100%">
                            <thead>
                            <tr class="bgc-dark text-white">
                                <th scope="col"></th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Email</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Opciones</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">

                    </div>

                </div><!-- /.card-body -->
            </div>
            <div class="border-b-3 w-100 brc-dark radius-b-1"></div>
        </div>
    </div>
</div>
@section PageCrumb{

    <small class="page-info text-secondary-d2">
        <i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
        Notificaciones
    </small>
}
@section styles{
    <link href="~/assetsAce/node_modules/js/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/js/plugins/datatable/button/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/js/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.min.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/js/plugins/datatable/css.custom.datatable.css" rel="stylesheet" />
}

<script src="~/assetsAce/node_modules/js/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/dataTables.buttons.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/buttons.bootstrap4.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/jszip.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/pdfmake.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/vfs_fonts.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/button/buttons.html5.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/datatable/responsive.bootstrap4.min.js"></script>
<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.min.js"></script>

<script type="text/javascript">

    var dataNotification = (function() {

        var loadDataEmployee = function() {
            $('#listNotifications').DataTable({
                serverSide: true,
                processing: true,
                filter: true,
                paging: true,
                destroy: true,
                dom: '<"row"<"col-sm-6"f><"col-sm-6"l>>' +
                    '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                    '<"row"<"col-sm-5"i><"col-sm-7"p>>',
                language: idioma,
				order: [4, 'desc'],
                responsive: {
                    details: {
                        renderer: function (api, rowIdx, columns, value) {
                            debugger;
                            var data = $.map(columns, function (col, i) {
                                if (col.hidden) {
                                    return '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                        '<td>' + col.title + ':' + '</td> ' +
                                        '<td>' + col.data + '</td>' +
                                        '</tr>';
                                }
                            }).join('');
                            return data ? $('<table/>').append(data).width("25%") : false;
                        }
                    }
                },
				ajax: {
					url: "@Url.Action("GetListNotifications", "Card")",
                    type: "POST",
                    datatype: "json"
                },
                columnDefs: [
                ],
                columns: [
                    {   // Responsive control column
                        data: null,
                        defaultContent: '',
                        className: 'control',
                        orderable: false
                    },
                    { "data": "Title", searchable: true },
                    { "data": "Status", searchable: true },
                    { "data": "Email", searchable: true },
                    { "data": "DateInsert", searchable: true },
                    {
                        data: null,
                        orderable: false,
                        className: 'text-center',
                        render: function(data, type, full) {

                            var menu = "";

                            menu = "<div id='dtbMenu" + data + "' data-id='" + data + "' class='btn-group'>" +
                                "<div class='dropdown d-inline-block dd-backdrop dd-backdrop-none-md'>" +
                                "<a class='card-toolbar-btn text-dark' href='#' role='button' id='dropdownMenuLink4' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                                "<i class='fa fa-list' aria-hidden='true'></i>" +
                                "</a>" +
                                "<div class='dropdown-menu dropdown-menu-right dropdown-caret dd-slide-center dd-slide-none-md dropdown-animated animated-2  brc-danger-tp2 border-t-3' aria-labelledby='dropdownMenuLink4'>" +
                                "<a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'" +
                                'href="@Url.Action("EditCard", "Card")?id=' + data.TbNotificationId + '">' +
                                "<i class='fas fa-search text-dark text-140 w-3 mr-2px' aria-hidden='true'></i>" +
                                "Ver Detalle..." +
                                "</a>" +
                                "</div>" +
                                "</div>" +
                                "</div>";

                            var sendData = DataMenu(data.TbNotificationId, null, "@Url.Action("EditCard", "Card")", null, null);
                            $.post("/Common/DataTableMenu",
                                sendData,
                                function (response) {
                                    $("#testMenu" + data.TbNotificationId).html(response);
                                });
                            return menu;
                        }
                    }
                ]

            });
            //aplicamos el pluging al select
            $('.dataTables_length select').chosen({
                disable_search_threshold: 10,
                width: '80%'
            });
        }

        return {
            loadDataEmployee: loadDataEmployee
        }
    })();

    $(function() {
        ComplementDataTable();
        dataNotification.loadDataEmployee();
    });

</script>
